[Desktop Entry]
Name=Pacman (SDL)
Comment=Yet another pacman_sdl clone in C/C++ and SDL
Exec=pacman_sdl
Icon=/usr/local/share/pacman_sdl/gfx/pacman_sdl_desktop.png
Type=Application
Categories=Game;ArcadeGame;
